/* This is a CSS Comment */
/* CSS RESET - Applied to everything */
*{
    margin: 5;
    padding: 0;
}
/* This line targets the <body> */
body {
    background-color:  rgb(29, 78, 157);
    font-family: "Outfit", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6; /*separates lines for readability */
}

/* GROUP SECTOR */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em; /* scales with font size */
    font-style: italic;
}

h1{
    text-align: center;
}

section {
    background-color: gray(255, 255, 255, .4);
    border-style: groove;
    border-width: 5px;
    background-color: #74afb3;
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em;
}

img{
    width: 300px;
    height:300px;
}

ul, ol {
    margin-left: 1em;
}


a {
    color:blueviolet(114, 82, 22)
}